.positionss {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.positionss img {
    height: 120px;
    cursor: pointer;
}

.positionss div {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

